<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tio Lucho</title>
    <link rel="shortcut icon" href="https://miguelareiza.github.io/TioLucho/assets/images/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="base">
        <div class="navBar">
            <div class="left">
                <img class="imageLogo" id="LogoHome" src="../../../assets/images/Logo.png" alt="Logo" draggable="false">
                <label class="titleRoute" id="nameRoute"></label>
            </div>
            <div class="rigth">
                <label class="titleName" id="nameUser"></label>
                <button class="btnMenu" id="userMenu"></button>
            </div>            
        </div>
        <div class="pageContent">
            <button class="btnBack" id="btnBack"></button>
            <div class="titleCard">
                <label>Panel de administración</label>
            </div>
            <div class="cards">
                <div class="card" id="cardClients">
                    <img src="../../../assets/images/cards/Clients.svg" alt="" draggable="false">
                    <label>Clientes</label>
                </div>
                <div class="card" id="cardCategories">
                    <img src="../../../assets/images/cards/Categories.svg" alt="" draggable="false">
                    <label>categorias</label>
                </div>
                <div class="card" id="cardProducts">
                    <img src="../../../assets/images/cards/Products.svg" alt="" draggable="false">
                    <label>Productos</label>
                </div>
                <div class="card" id="cardRoutes">
                    <img src="../../../assets/images/cards/Routes.svg" alt="" draggable="false">
                    <label>Rutas</label>
                </div>
                <div class="card" id="cardSales">
                    <img src="../../../assets/images/cards/Sales.svg" alt="" draggable="false">
                    <label>Ventas</label>
                </div>
                <div class="card" id="cardNotSales">
                    <img src="../../../assets/images/cards/NotSales.svg" alt="" draggable="false">
                    <label>No compras</label>
                </div>
                <div class="card" id="cardInventories">
                    <img src="../../../assets/images/cards/Inventory.svg" alt="" draggable="false">
                    <label>Inventarios</label>
                </div>
                <div class="card" id="cardLiquidations">
                    <img src="../../../assets/images/cards/Liquidation.svg" alt="" draggable="false">
                    <label>Liquidaciones</label>
                </div>
                <div class="card" id="cardUsers">
                    <img src="../../../assets/images/cards/Users.svg" alt="" draggable="false">
                    <label>Usuarios</label>
                </div>
                <div class="card" id="cardCosts">
                    <img src="../../../assets/images/cards/Costs.svg" alt="" draggable="false">
                    <label>Gastos</label>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="contactUs">
                <button type="button" class="facebook"></button>
                <button type="button" class="instagram"></button>
                <button type="button" class="whatsApp"></button>
            </div>
            <div class="copyRight">
                &#169 Miguel Areiza 2023 all rights reserved
            </div>
        </div>
    </div>
    <div id="notifications">
    </div>

    <!-- Generales -->
    <script src="../../../js/General.js"></script>
    <link rel="stylesheet" href="../../../styles/General.css">
    
    <!-- Propios -->
    <script src="../../../js/admin/admin.js"></script>
    <link rel="stylesheet" href="../../../styles/admin/admin.css">
    
</body>
</html>