*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

/* Estilos del navbar */
.navBar{
    background: #000;
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px #333;
    display: flex;
}
.navBar > .left, .navBar > .rigth, .navBar > .center{
    width: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar > .center{
    width: calc(100vw - 24vh);
}
.navBar > .left > button, .navBar > .rigth > button{
    width: 7vh;
    height: 7vh;
    border: none;
    background: transparent;
    background-size: 100% 100%;
    transition: .6s;
}
.navBar > .left > button:hover, .navBar > .rigth > button:hover{
    transform: scale(1.1);
}

/* Estilos del pagecontent */
.pageContent{
    background-image: url('../Images/Fondos/Fondo.png');
    background-size: contain;
    margin-top: 12vh;
    padding: 2vh;
    min-height: 88vh;    
}

/* Estilos de Footer */
.footer{
    width: 100%;
    background: #000;
    padding: 2vh;
}
.footer > .contactUs{
    margin-bottom: 10px;
}
.footer > .contactUs > .networks{
    color: #fff;    
    font-size: 1.2rem;
    text-align: center;
}
.footer > .contactUs > .networks > label{
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.networks > .facebook, .networks > .instagram, .networks > .whatsApp{
    background-size: 100% 100%;
    border: none;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    margin: 5px;
    transition: .6s;
}
.networks > .facebook:hover, .networks > .instagram:hover, .networks > .whatsApp:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 8px #555;
}
.footer > .contactUs > .networks > .facebook{
    background-image: url('../Images/Contact/FbIcon.png');    
}
.footer > .contactUs > .networks > .instagram{
    background-image: url('../Images/Contact/IgIcon.png');
}
.footer > .contactUs > .networks > .whatsApp{
    background-image: url('../Images/Contact/WpIcon.png');
}
.footer > .copyRight{
    text-align: center;
    color: #fff;
    font-size: 0.875rem;    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.footer > .handcrafted{
    text-align: right;
    color: #fff;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 5px 5px 0;
}

/* Estilos de los toastr */
#notifications{
    box-sizing: border-box;
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    bottom: 12px;
    right: 12px;
}
#notifications > .toast{
    box-sizing: border-box;
    position: relative;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 1vh;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    pointer-events: auto;
    contain: content;
    word-wrap: break-word;
}
#notifications > .toast:hover{
    box-shadow: 0 0 12px #999;
    cursor: pointer;
}
#notifications .toast > b{
    display: block;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #000;
    font-family: Arial, Helvetica, sans-serif;
}
.toast-info{
    background: #2aa3c3;
    background-image: url('../Images/Toastr/Info.png');
}
.toast-success{
    background: #129620;
    background-image: url('../Images/Toastr/Success.png');
}
.toast-error{
    background: #c53002;
    background-image: url('../Images/Toastr/Error.png');
}
.toast-warning{
    background: #ffa300;
    background-image: url('../Images/Toastr/Warning.png');
}