*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
:root{
    --principal: #F2A819;
    --secondary: #8C5F4D;
    --inputs: #F0F0F0;
}
/* Estilos del navbar */
.navBar{
    background: var(--principal);
    width: 100%;
    height: 100px;
    max-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
}
.left{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.rigth{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}  
.imageLogo{
    height: 70px;
    margin: 0 8px;
    cursor: pointer;
}
.imageText{
    height: 30px;
}
.titleName{
    color: #fff;
    font-size: 1.3rem;
    text-align: right;
}
.menu{
    background: transparent;
    background-image: url('../assets/images/Menu.png');
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: bottom center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 30px #0009;
    margin: 0 8px;
    cursor: pointer;
    transition: .6s;
}
.menu:hover{
    box-shadow: inset 0 0 30px #000;
}

/* Estilos del pagecontent */
.pageContent{
    padding: calc(100px + 1rem) 1rem 1rem;
    min-height: calc(100vh - 80px);
}
.btnBack{
    position: absolute;
    top: 112px;
    left: 12px;
    background: var(--principal);
    background-image: url('../assets/images/icons/Chevron.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: .6s;
}
.btnBack:hover{
    transform: scale(1.1);
}
.btnLarge{
    width: 250px;
    background: var(--principal);
    background-image: url('../assets/images/icons/Chevrons.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center right 20px;
    color: #fff;
    border: none;
    border-radius: 2vh;
    font-size: 1.5rem;
    padding: 1vh 50px 1vh 1vh;
    transition: .6s;
    cursor: pointer;
}
.btnLarge:hover{
    transform: scale(1.05);
}

/* Estilos de Footer */
.footer{
    width: 100%;
    height: 80px;
    max-height: 80px;
    background: var(--principal);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contactUs{
    width: 100%;
    text-align: center;
}
.facebook, .instagram, .whatsApp{
    background: transparent;
    background-size: 30px;
    border: none;
    width: 30px;
    height: 30px;
    margin: 10px 5px 5px;
    transition: .6s;
}
.facebook{
    background-image: url('../assets/images/contact/Facebook.png');    
}
.instagram{
    background-image: url('../assets/images/contact/Instagram.png');
}
.whatsApp{
    background-image: url('../assets/images/contact/WhatsApp.png');
}
.facebook:hover, .instagram:hover, .whatsApp:hover{
    transform: scale(1.1);
}
.copyRight{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px 5px;
}

/* Estilos de los toastr */
#notifications{
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    bottom: 12px;
    right: 12px;
}
.toast{
    position: relative;
    margin-bottom:6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 1vh;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 8px #000;
    color: #fff;
    font-weight: 500;
    pointer-events: auto;
    contain: content;
    word-wrap: break-word;
}
.toast:hover{
    box-shadow: 0 0 12px #999;
    cursor: pointer;
}
.toast > b{
    display: block;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #000;
}
.toast-info{
    background: #2aa3c3;
    background-image: url('../assets/images/toastr/Info.png');
}
.toast-success{
    background: #129620;
    background-image: url('../assets/images/toastr/Success.png');
}
.toast-error{
    background: #c53002;
    background-image: url('../assets/images/toastr/Error.png');
}
.toast-warning{
    background: #ffa300;
    background-image: url('../assets/images/toastr/Warning.png');
}